/* Style the popup container */
body {
  width: 300px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

/* Style the header */
h1 {
  color: #0077CC;
  text-align: center;
}

/* Style the text area for note content */
textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Style the Save and Clear buttons */
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0077CC;
  color: #FFF;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0055A0;
}

/* Style the note list */
#note-list {
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/* Style the success message */
#message {
  color: #008000;
  margin-top: 10px;
  text-align: center;
}

/* Add dark mode styles */
.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode-container {
  border: none; /* Remove the border */
}

/* Add more dark mode styles as needed */

/* Add button styles */
.btn-info {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  padding: 8px; /* Adjust padding to reduce button size */
  font-size: 12px; /* Adjust font size to reduce button size */
}

.btn-info:hover {
  background-color: #117a8b;
}


